.code-block-container {
    margin-top: 20px;
}

.code-block {
    font-family: 'Courier New', Courier;
    font-size: larger;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    min-width: '40vw';
    min-height: '60vh';
}

.code-block.read-only {
    cursor: default;
    /* Adjust the opacity value (0.0 to 1.0) */
    /* You can customize this opacity value to suit your design */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}


.code-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}